# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias dt="cd ~/Desktop"
alias dl="cd ~/Downloads"
alias p="cd ~/workspace/projects"

alias ls="exa"
alias ll="exa -l"
alias la="exa -a -l"

# Git
alias g="git"
alias gs='git status -s'
alias glo='git log --oneline --graph --decorate'
alias ga='git add'
alias gaa="git add ."
alias gcm='git commit'
alias gpl='git pull'
alias gplr='git pull --rebase'
alias gps='git push'
alias gpsf='git push --force'
alias gpsu="git push -u origin HEAD"
alias grb='git rebase'
alias grbi="git rebase -i"
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gst='git stash'
alias gstp='git stash pop'
alias gsta='git stash apply'
alias gstl='git stash list'
alias gstc='git stash clear'
alias gb='git branch'
alias gd='git diff'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gr='git reset'
alias grs="git reset --soft"
alias grh="git reset --hard"
alias gm='git merge'
alias gma="git merge --abort"
alias gmc="git merge --continue"
alias gcp='git cherry-pick'
alias gsl="git sl"
alias grev='git revert'
alias lg="lazygit"

# Tmux
alias ta="tmux attach -t"
alias ts="tmux new-session -s"
alias tl="tmux list-sessions"

# Configs
alias aliases="vi ~/.aliases"
alias zshrc="vi ~/.zshrc"
alias tmuxconf="vi ~/.config/tmux/tmux.conf"
alias kittyconf="vi ~/.config/kitty/kitty.conf"
alias nvimconf="cd ~/.config/astronvim && vi"

alias vim=nvim
alias vi=nvim
alias path='echo -e ${PATH//:/\\n}'
alias cls="clear"
alias reload="exec ${SHELL} -l"
alias copyssh="pbcopy < ~/.ssh/id_ed25519.pub"
alias icat="kitty +kitten icat"
