# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias w="cd ~/workspace"
alias p="cd ~/workspace/projects"
alias dt="cd ~/Desktop"
alias dl="cd ~/Downloads"

# Git
alias g="git"
alias gs='git status -s'
alias glo='git log --oneline --graph --decorate'
alias ga='git add'
alias gcm='git commit'
alias gu='git pull'
alias gurb='git pull --rebase'
alias gp='git push'
alias grb='git rebase'
alias grbc='git rebase --continue'
alias grba='git rebase --abort'
alias gst='git stash'
alias gsta='git stash apply'
alias gstl='git stash list'
alias gstc='git stash clear'
alias gb='git branch'
alias gd='git diff'
alias gco='git checkout'
alias grs='git reset'
alias gm='git merge'
alias gch='git cherry-pick'


alias copyssh=" pbcopy < ~/.ssh/id_ed25519.pub"
alias reload="exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}'
