.config/lazygit/state.yml

.config/tmux/plugins
.config/tmux/resurrect

.config/raycast/extensions
.config/raycast/config.json

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

.env
