[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "vendor/zsh-custom/plugins/git-open"]
	path = vendor/zsh-custom/plugins/git-open
	url = git@github.com:paulirish/git-open.git
[submodule "vendor/zsh-custom/plugins/zsh-vi-mode"]
	path = vendor/zsh-custom/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
[submodule "vendor/zsh-custom/plugins/fzf-tab"]
	path = vendor/zsh-custom/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "vendor/zsh-custom/plugins/fast-syntax-highlighting"]
	path = vendor/zsh-custom/plugins/fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
[submodule "vendor/zsh-custom/plugins/zsh-autosuggestions"]
	path = vendor/zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
