[user]
	name = dan.nguyen
	email = dannd496@gmail.com
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[core]
	autocrlf = false
	ignorecase = false
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[pull]
	rebase = false
[branch]
	sort = -committerdate
[diff]
	renames = copies
