[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "vendor/zsh-custom/plugins/zsh-syntax-highlighting"]
	path = vendor/zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "vendor/zsh-custom/plugins/git-open"]
	path = vendor/zsh-custom/plugins/git-open
	url = git@github.com:paulirish/git-open.git
[submodule "vendor/zsh-custom/plugins/zsh-vi-mode"]
	path = vendor/zsh-custom/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode.git
