[user]
name = dan.nguyen
email = dannd496@gmail.com

[include]
path = ~/.gitconfig_local

[color]
ui = true

[core]
pager = delta
editor = nvim
autocrlf = false
ignorecase = false
excludesfile = ~/.gitignore_global

[push]
default = upstream

[pull]
rebase = false

[branch]
sort = -committerdate

[delta]
features = catppuccin-frappe

[delta "catppuccin-frappe"]
blame-palette = "#303446 #292c3c #232634 #414559 #51576d"
commit-decoration-style = box ul
dark = true
file-decoration-style = "#c6d0f5"
file-style = "#c6d0f5"
hunk-header-decoration-style = box ul
hunk-header-file-style = bold
hunk-header-line-number-style = bold "#a5adce"
hunk-header-style = file line-number syntax
line-numbers = true
line-numbers-left-style = "#737994"
line-numbers-minus-style = bold "#e78284"
line-numbers-plus-style = bold "#a6d189"
line-numbers-right-style = "#737994"
line-numbers-zero-style = "#737994"
# 25% red 75% base
minus-emph-style = bold syntax "#5e4855"
# 10% red 90% base
minus-style = syntax "#433c4c"
# 25% green 75% base
plus-emph-style = bold syntax "#4e5b56"
# 10% green 90% base
plus-style = syntax "#3c444d"
map-styles = \
	bold purple = "#574f6e", \
	bold blue = "#475270", \
	bold cyan = "#4a5b6b", \
	bold yellow = "#5d5958" >syntax >syntax >syntax >syntax
# Should match the name of the bat theme
syntax-theme = Catppuccin-frappe
